[Unit]
Description=Express Node.js

[Service]
Type=simple
ExecStart=/bin/node server.js
KillMode=process
TimeoutStartSec=30
Restart=always
WorkingDirectory=/var/www/examples/status

[Install]
WantedBy=multi-user.target
